.container {
  margin-bottom: 20rem;
}
.main {
  margin-top: 20rem;
}
.header {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 5rem;
  margin-bottom: 10rem;
  padding-bottom: 8rem;
  border-bottom: 3px solid var(--color-black);
}
.headerThumbnail {
  width: 44rem;
  height: 44rem;
  border-radius: 5rem;
}
.headerContentTitle {
  display: inline-flex;
  flex-direction: column;
}
.headerContentTitleCategory {
  display: inline-block;
  width: fit-content;
  padding: 1rem 2rem;
  font-size: 1.2rem;
  font-family: var(--font-lexend);
  font-weight: bold;
  text-transform: uppercase;
  border: 3px solid var(--color-black);
  border-radius: 1.5rem 1.5rem 0 0;
}
.headerContentTitleInside {
  display: inline-block;
  margin-top: -3px;
  padding: 1.5rem 2rem;
  font-size: 2.8rem;
  font-weight: bold;
  border: 3px solid var(--color-black);
  border-radius: 0 2rem 2rem 2rem;
}
.headerContentInformation {
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 4rem;
  align-items: flex-end;
  margin-top: 4rem;
}
.headerContentInformationList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
}
.headerContentInformationDate {
  font-size: 1.4rem;
  font-family: var(--font-lexend);
  font-weight: bold;
}
.headerContentIntroduction {
  margin-top: 4.5rem;
}
.headerContentBreadcrumb {
  display: flex;
  justify-content: flex-end;
  margin-top: 4rem;
}
.bodyContents {
  width: 84rem;
  margin: 0 auto;
  h1,
  h2 {
    width: fit-content;
    margin-bottom: 2rem;
    padding: 1.5rem 3rem;
    border: 3px solid var(--color-black);
    border-radius: 2rem;
    font-weight: bold;
  }
  h3,
  h4,
  h5,
  h6 {
    padding-bottom: 2rem;
    border-bottom: 3px solid var(--color-key);
    font-weight: bold;
  }
  h2 {
    font-size: 2.4rem;
  }
  h3 {
    font-size: 2.2rem;
  }
  p + h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-top: 8rem;
  }
  p {
    margin-bottom: 2rem;
    font-size: 1.6rem;
    line-height: 2;
  }
  img {
    display: block;
    width: 72rem;
    height: auto;
    margin: 4rem auto 0;
  }
  ul {
    margin-left: 2rem;
  }
  li {
    font-size: 1.6rem;
    line-height: 2;
    list-style-type: disc;
  }
}
.relation {
  margin-top: 12rem;
  padding-top: 6rem;
  border-top: 2px solid var(--color-black);
}
.relationTitle {
  margin-bottom: 3rem;
}
.relationMain {
}
.relationMainList {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem;
}
