@use '../../styles/variables.scss' as var;

.main {
  margin: 20rem auto;
}
.aboutTitle {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-bottom: 6rem;
}
.aboutTitleEn {
  color: var(--color-key);
  font-size: 2rem;
  font-family: var(--font-lexend);
  font-weight: bold;
  text-transform: uppercase;
}
.aboutTitleJa {
  font-size: 4.8rem;
  font-weight: bold;
}
.aboutMain {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 6rem;
  align-items: center;
}
.aboutMainImage {
  width: 48rem;
  height: auto;
}
.administrator {
  margin-top: 12rem;
}
.administratorTitle {
  margin-bottom: 3rem;
}
.administratorMain {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 3rem;
  align-items: center;
}
.administratorMainImage {
  width: 24rem;
  height: 24rem;
  border-radius: 2.5rem;
}
.administratorMainContentTitle {
  margin-bottom: 1.5rem;
  font-size: 2rem;
  font-family: var(--font-lexend);
  font-weight: bold;
}
.contact {
  margin-top: 12rem;
}
.contactTitle {
  margin-bottom: 3rem;
}

@media screen and (max-width: var.$sp) {
  .main {
    margin: 14rem auto 10rem;
  }
  .aboutTitle {
    margin-bottom: 2.5rem;
  }
  .aboutTitleEn {
    font-size: 1.2rem;
  }
  .aboutTitleJa {
    font-size: 2.4rem;
  }
  .aboutMain {
    grid-template-columns: auto;
    gap: 3rem;
  }
  .aboutMainImage {
    width: 30rem;
    margin: 0 auto;
  }
  .administrator {
    margin-top: 8rem;
  }
  .administratorTitle {
    margin-bottom: 2.5rem;
  }
  .administratorMain {
    grid-template-columns: auto;
    gap: 1.5rem;
  }
  .administratorMainImage {
    margin: 0 auto;
  }
  .administratorMainContentTitle {
    margin-bottom: 1rem;
  }
  .contact {
    margin-top: 8rem;
  }
  .contactTitle {
    margin-bottom: 2.5rem;
  }
}
