@use '../styles/variables.scss' as var;

.default {
  width: 116rem;
  margin-inline: auto;
}
.lg {
  width: 132.5rem;
  margin-inline: auto;
}
.md {
  width: 109rem;
  margin-inline: auto;
}
.sm {
  width: 99rem;
  margin-inline: auto;
}

@media screen and (max-width: var.$sp) {
  .default {
    width: 34rem;
  }
}
