.default {
  // width: 132.5rem;
  width: 116rem;
  margin-inline: auto;
}
.lg {
  width: 132.5rem;
  margin-inline: auto;
}
.md {
  width: 109rem;
  margin-inline: auto;
}
.sm {
  width: 99rem;
  margin-inline: auto;
}
