// color
$key: #4d76a4;
$white: #ffffff;
$black: #231815;
$black-text: #000000;

// font
$inter: 'Inter', sans-serif;
$notosans: 'Noto Sans', sans-serif;
$bold: 800;
$semi: 600;

// ease
$easeInOut: cubic-bezier(0.4, 0, 0, 1);

// @media
$pc: 1440px;
$sp: 768px;
