.list {
  display: flex;
  flex-direction: row;
  gap: 3rem;
}
.item {
  &:last-child {
    .itemLink {
      text-decoration: unset;
      pointer-events: none;
      &::before {
        content: unset;
      }
    }
  }
}
.itemLink {
  position: relative;
  font-size: 1.4rem;
  font-weight: bold;
  text-decoration: underline;
  &::before {
    position: absolute;
    top: 10%;
    right: -1.5rem;
    content: '';
    width: 2px;
    height: 80%;
    background-color: var(--color-black);
    transform: rotate(20deg);
  }
}
