.container {
  // position: relative;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 2.5rem 6rem;
  z-index: 5;
}
.buttonToggleMenu {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 6.4rem;
  height: 6.4rem;
  background-color: var(--color-black);
  // border: 2px solid var(--color-white);
  border-radius: 50%;
  z-index: 6;
}
.buttonToggleMenuLine {
  position: absolute;
  top: 50%;
  left: calc(50% - 1.2rem);
  display: block;
  width: 2.4rem;
  height: 1px;
  background-color: var(--color-white);
  &:nth-child(1) {
    transform: translateY(-0.35rem);
  }
  &:nth-child(2) {
    transform: translateY(0.35rem);
  }
}
.menu {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  width: 100vw;
  height: 100vh;
  padding: 10rem 16rem;
  background-color: var(--color-key);
  // background-color: var(--color-black);
  z-index: 5;
}
.menuInner {
  display: grid;
  // grid-template-columns: 1fr 1fr 1fr;
  grid-template-columns: auto 34rem auto;
  gap: 12rem;
  width: 100%;
}
.menuOthersNavList {
  display: grid;
  grid-template-columns: auto;
  gap: 2rem;
}
.menuOthersNavItemLink {
  font-size: 2.8rem;
  font-weight: bold;
  color: var(--color-white);
}
.menuSearch {
  position: relative;
  display: flex;
  align-items: center;
  height: 5rem;
  margin-top: 6.5rem;
  padding: 1rem 2rem;
  background-color: var(--color-white);
  border-radius: 10rem;
}
.menuSearchInput {
  font-size: 1.4rem;
}
.menuSearchButton {
  position: absolute;
  top: calc(50% - 2rem);
  right: 1rem;
  width: 4rem;
  height: 4rem;
}
