.list {
  display: grid;
  grid-template-columns: auto;
  gap: 4rem;
}
.itemLink {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  color: var(--color-white);
}
.itemEn {
  font-size: 1.8rem;
  font-family: var(--font-lexend);
  text-transform: uppercase;
}
.itemJa {
  font-size: 4.4rem;
  font-family: var(--font-notoSans);
  font-weight: bold;
}
