.container {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 2.5rem 6rem;
}
.buttonToggleMenu {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 6.4rem;
  height: 6.4rem;
  background-color: var(--color-black);
  border-radius: 50%;
}
.buttonToggleMenuLine {
  position: absolute;
  top: 50%;
  left: calc(50% - 1.2rem);
  display: block;
  width: 2.4rem;
  height: 1px;
  background-color: var(--color-white);
  &:nth-child(1) {
    transform: translateY(-0.35rem);
  }
  &:nth-child(2) {
    transform: translateY(0.35rem);
  }
}
.menu {
  position: absolute;
  top: 0;
  left: 0;
  content: '';
  width: 100vw;
  height: 100vh;
  background-color: var(--color-key);
  z-index: 5;
}
.menuCategoryItemEn {
  font-family: var(--font-lexend);
}
.menuCategoryItemJa {
  font-family: var(--font-notoSansJa);
}
