@use '../styles/variables.scss' as var;

.itemImage {
  width: 100%;
  height: 30rem;
}
.itemContent {
  width: 80%;
  margin: 1.5rem 0 0 1.5rem;
}

@media screen and (max-width: var.$sp) {
  .itemImage {
    height: 21rem;
  }
  .itemContent {
    width: 90%;
    margin: 1rem 0 0 1rem;
  }
}
