@use '../styles/variables.scss' as var;

.itemLink {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  aspect-ratio: 1;
  background-color: var(--color-key);
  border: 3px solid var(--color-black);
  border-radius: 2rem;
  overflow: hidden;
}
.itemImage {
  position: absolute;
  top: 20%;
  left: 20%;
  width: 60%;
  height: 60%;
  border-radius: 50%;
}
.itemDate {
  padding: 1rem 3rem;
  background-color: var(--color-white);
  border: 3px solid var(--color-black);
  border-radius: 1.5rem;
  z-index: 1;
}

@media screen and (max-width: var.$sp) {
  .itemImage {
    top: 15%;
    left: 15%;
    width: 70%;
    height: 70%;
  }
  .itemDate {
    padding: 0.5rem 2rem;
    border: 2px solid var(--color-black);
  }
}
